
#pancake-img
{
    background-image: url(images/img1.jpg);
    width: 1280px;
    height: 500px;
    max-width: 1280px;
    max-height: 500px;
    border: 1px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
div
{
    background-color: #fffbfb;
    padding: 32px;
}

h1
{
    color: #A10000;
    font-family: Open-Sans, sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 28px;
}

h2
{
    color: #000000;
    font-family: Open-Sans, sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-style: bold;
}

li
{
    font-family: Open-Sans, sans-serif;
    font-style: regular;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

ul
{
    margin-left: -17px;
}

ol
{
    margin-left: -17px;
}

td
{
    padding: 10px;
}

#serv1-img
{
    background-image: url(images/img2.jpg);
    width: 580px;
    height: 467px;
    min-width: 300px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#serv2-img
{
    background-image: url(images/img3.jpg);
    width: 580px;
    height: 467px;
    min-width: 300px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}